/*
--am-dialog-justify
--am-dialog-align
--am-dialog-padding
--am-dialog-font-family
--am-dialog-background
--am-dialog-width
--am-dialog-wrapper-padding
--am-dialog-border-radius

--am-backdrop-opacity
--am-backdrop-color

--am-dialog-title-font-size
--am-dialog-title-font-color
--am-dialog-title-border-bottom
--am-dialog-title-padding

--am-dialog-closer-font-size
--am-dialog-closer-color

--am-dialog-content-padding

--am-dialog-buttons-padding
--am-dialog-buttons-gap
--am-dialog-buttons-justify
--am-dialog-buttons-direction
 */
.art-modal-dialog-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  justify-content: var(--am-dialog-justify, center);
  align-items: var(--am-dialog-align, center);
  height: 100%;
  width: 100%;
  display: flex;

  &.diaphanous {
    pointer-events: none;
  }

  .art-modal-dialog-content-wrapper {
    padding: var(--am-dialog-wrapper-padding, 0);
    z-index: 10;

    .art-modal-dialog {
      background-color: var(--am-dialog-background, #fff);
      padding: var(--am-dialog-padding, 24px) !important;
      font-family: var(--am-dialog-font-family, Arial), serif !important;
      display: flex;
      flex-direction: column;
      width: var(--am-dialog-width, fit-content);
      max-width: var(--am-dialog-width, fit-content);
      border-radius: var(--am-dialog-border-radius, 8px);
      pointer-events: all;

      .art-modal-dialog-title {
        border-bottom: var(--am-dialog-title-border-bottom, 1px solid green);
        font-size: var(--am-dialog-title-font-size, inherit) !important;
        color: var(--am-dialog-title-font-color, inherit) !important;
        padding: var(--am-dialog-title-padding, 0 0 10px 0) !important;
        line-height: normal !important;
        letter-spacing: normal !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        &::before {
          content: none;
        }

        .closer {
          font-size: var(--am-dialog-closer-font-size, 12px) !important;
          cursor: pointer;
          color: var(--am-dialog-closer-color, #bdbebe);
        }
      }

      .art-modal-dialog-content {
        padding: var(--am-dialog-content-padding, 15px 0 0 0) !important;
      }

      .art-modal-dialog-buttons {
        display: flex;
        padding: var(--am-dialog-buttons-padding, 15px 0 0 0) !important;
        min-height: unset !important;
        gap: var(--am-dialog-buttons-gap, 10px) !important;
        justify-content: var(--am-dialog-buttons-justify, end) !important;
        flex-direction: var(--am-dialog-buttons-direction, row) !important;
      }
    }
  }
}


