<div *ngIf="visible" class="art-modal-dialog-wrapper {{panelClass}}" [class.diaphanous]="_settings.diaphanous">
  <div [class]="backdropClass" *ngIf="_settings.hasBackdrop" (click)="_settings.backdropCloser && close(false)">
  </div>
  <div class="art-modal-dialog-content-wrapper">
    <div>
      <div class="art-modal-dialog-title">
        <div>{{ _settings.title }}</div>
        <div class="closer" (click)="close(false)">✖</div>
      </div>

      <div class="art-modal-dialog-content">
        <ng-content></ng-content>
      </div>

      <div class="art-modal-dialog-buttons">
        <button [disabled]="!_settings.confirmAvailable" class="confirm-button"
                (click)="close(true)">{{ _settings.confirmTitle }}
        </button>
        <button *ngIf="_settings.cancelVisible"
                class="cancel-button" (click)="close(false)">{{ _settings.cancelTitle }}
        </button>
      </div>
    </div>
  </div>
</div>

