
.art-modal-dialog-backdrop {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: var(--am-backdrop-opacity, .6);
  background-color: var(--am-backdrop-color, #fff);
  height: 100%;
  width: 100%;
}
